# dependencies
node_modules

# testing
coverage

# production
dist
.output
.wxt

# turbo
.turbo

# misc
.DS_Store

# local env files
.env

# debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# extension.js
extension-env.d.ts

# where I dump random stuff for the LLM
other_code
